@media (max-width: 1350px) {
	.tabs__content-item {
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.tabs__btn:not(:last-child) {
		margin-bottom: 40px;
}
.tabs__btn {
	gap: 30px;
}
}

@media (max-width: 1250px) {
	.intro__title {
		font-size: 80px;
	}
	.btn--big {
		padding: 20px 70px;
		font-size: 25px;
	}
	iframe  {
		width: 100%;
		height: 585px;
	}
	.blog__items {
		gap: 20px;
		flex-wrap: wrap;
	}
	.blog__item {
		width: 100%;
	}
}

@media (max-width: $burgerBP) {
	.section {
		margin-bottom: 100px;
	}
	.section__title-box {
		font-size: 40px;
		margin-bottom: 40px;
	}
	.header {
		&__inner {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			max-height: 140px;
		}
		&:not(.header--main) {
			&::before {
				content: "";
				z-index: 14;
			}
		}
		&__menu {
			font-size: 20px;
			position: relative;
			z-index: 12;
			order: 3;
			width: 100%;
		}
		.menu {
			padding-top: 145px;
			padding-bottom: 50px;
			margin: -95px -15px 0;
			background: $mainTextColor;
			transform: translateY(-1000px);
			transition: all 0.6s ease;
			&--open {
				transform: translateY(0);
				height: 100vh;
			}
			&__list {
				flex-direction: column;
				height: 100%;
				justify-content: center;
			}

		}
		.burger {
			order: 1;
		}
	}
	.intro__title {
		font-size: 60px;
	}
	.btn--big {
		padding: 15px 50px;
		font-size: 20px;
	}
	.swiper-pagination-bullets {
		gap: 15px;
	}
	.swiper-pagination-bullet {
		width: 70px;
	}
	.why-lease {
		margin-top: 100px;
	}
	.why-lease__list {
		flex-wrap: wrap;
		&-item {
			max-width: 273.5px;
		}
	}
	.footer__list {
		flex-direction: column;
	}
	.footer__menu-list {
		margin-left: auto;
		margin-top: 20px;
		text-align: center;
	}
	.footer__menu-title {
		margin-bottom: 0;
		:hover {
			color: $accentColor;
			transition: color 0.3s ease;
		}
	}
	.footer__menu-link {
		&:hover {
			color: $textColor;
			text-decoration: underline;
		}
	}
	.footer .copyright__list {
		flex-direction: column;
		gap: 40px;
		text-align: center;
	}
	.footer .app {
		gap: 15px;
	}
}
@media (max-width: 850px) {
	iframe  {
		height: 450px;
	}
}

@media (max-width: $bp768) {
	.section__title-box {
		font-size: 30px;
	}
	.accent-text {
		font-size: 20px;
	}
	.intro__title {
		font-size: 45px;
		margin-bottom: 20px;
	}
	.btn--big {
		padding: 15px 50px;
		font-size: 17px;
	}
	.why-lease {
		gap: 30px;
	}
	.why-lease__item-title {
		margin-bottom: 15px;
	}
	.why-lease__item-img {
		margin: 0 auto 15px;
	}
	.why-lease__item-text {
		text-align: center;
	}
	iframe  {
		height: 380px;
	}
	.important__list {
		gap: 20px;
	}
	.form {
		row-gap: 30px;
		column-gap: 20px;
	}
	.form__input {
		width: 100%;
	}
	.form__textarea {
		padding: 20px;
	}
}
@media (max-width: 620px) {
	.important__list-item {
		max-width: 100%;
		width: 100%;
	}
	.important__item-img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.important__item-text {
		width: 100%;
	}
	.tabs__btn {
		flex-wrap: wrap;
	}
	.catalog__btn {
		margin-top: 50px;
	}
	.tabs__content-item {
		margin-bottom: 50px;
	}
	.blog__item {
		gap: 20px;
	}
.blog__item-link {
	margin-left: auto;
}
.blog__item-img {
	margin: 0;
}
}
@media (max-width: 520px) {
	
	.how-it-works__item {
		display: flex;
		justify-content: center;
		gap: 40px;

		& p {
			width: 50%;
			max-width: 170px;
		}
	}
	.how-it-works__item::before {
		font-size: 26px;
		width: 50px;
		height: 50px;
	}
}
@media (max-width: $bp480) {
	.section__title-box {
		font-size: 23px;
	}
	.intro__title {
		font-size: 35px;
		margin-bottom: 15px;
	}
	.btn--big {
		padding: 15px 30px;
		font-size: 15px;
	}
	.swiper-pagination-bullet {
		width: 40px;
	}
	.how-it-works__item {
		justify-content: space-between;
	}
	.how-it-works__item p {
		width: 75%;
		max-width: 350px;
	}
	iframe  {
		height: 380px;
	}
}

@media (max-width: 380px) {
	.how-it-works__item::before {
		font-size: 19px;
		width: 40px;
		height: 40px;
	}
	.how-it-works__item {
		gap: 10px;
	}
	iframe  {
		height: 230px;
	}
}


