@media (max-width: 1250px) {
	.intro__title {
		font-size: 80px;
	}
	.btn--big {
		padding: 20px 70px;
		font-size: 25px;
	}
}

@media (max-width: $burgerBP) {
	.section {
		margin-bottom: 100px;
	}
	.section__title-box {
		font-size: 40px;
		margin-bottom: 40px;
	}
	.header {
		&__inner {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			max-height: 140px;
		}
	
		&__menu {
			font-size: 20px;
			position: relative;
			z-index: 12;
			order: 3;
			width: 100%;
		}
		.menu {
			padding-top: 145px;
			padding-bottom: 50px;
			margin: -95px -15px 0;
			background: $mainTextColor;
			transform: translateY(-1000px);
			transition: all 0.6s ease;
			&--open {
				transform: translateY(0);
				height: 100vh;
			}
			&__list {
				flex-direction: column;
				height: 100%;
				justify-content: center;
			}

		}
		.burger {
			order: 1;
		}
	}
	.intro__title {
		font-size: 60px;
	}
	.btn--big {
		padding: 15px 50px;
		font-size: 20px;
	}
	.swiper-pagination-bullets {
		gap: 15px;
	}
	.swiper-pagination-bullet {
		width: 70px;
	}
	.why-lease {
		margin-top: 100px;
	}
	.why-lease__list {
		flex-wrap: wrap;
		&-item {
			max-width: 273.5px;
		}
	}
}

@media (max-width: $bp768) {
	.section__title-box {
		font-size: 30px;
	}
	.accent-text {
		font-size: 20px;
	}
	.intro__title {
		font-size: 45px;
		margin-bottom: 20px;
	}
	.btn--big {
		padding: 15px 50px;
		font-size: 17px;
	}
	.why-lease {
		gap: 30px;
	}
	.why-lease__item-title {
		margin-bottom: 15px;
	}
	.why-lease__item-img {
		margin: 0 auto 15px;
	}
	.why-lease__item-text {
		text-align: center;
	}
}

@media (max-width: $bp480) {
	.intro__title {
		font-size: 35px;
		margin-bottom: 15px;
	}
	.btn--big {
		padding: 15px 30px;
		font-size: 15px;
	}
	.swiper-pagination-bullet {
		width: 40px;
	}
}

