.header {
	background-color: $mainTextColor;
	&--main {
		background-color: transparent;
		position: absolute;
		width: 100%;
		z-index: 11;
		
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 40px 0 45px;
	}
}

.menu {
	flex: 1 1 auto;

	font-size: 18px;
	
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 35px;
	
		position:relative;
		z-index: 3;
	}
	
	&__list-link {
		color: $textColor;
		text-transform: uppercase;
		font-weight: 700;
		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}
}

@import "burger.scss";