.important {
	&__text {
		max-width: 580px;
		margin: 0 auto 50px;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: start;
		flex-wrap: wrap;
		gap: 40px;
	}
	&__list-item {
		max-width: 270px;
	}
	&__item-img {
		max-width: 270px;
		height: 150px;

		margin-bottom: 20px;
	}
}